html {
    box-sizing: border-box;
}

body {
    font-family: 'Azeret Mono', monospace;
    color: #fff;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.card {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

footer {
    margin-top: 2rem;
}

#name {
    text-decoration: none;
    color: #fff;
 } 

 header {
     border-bottom: 1px solid #fff;
 }

 #about {
    padding: 0px 20px;
 }

 nav {
     padding: 0px 20px;
 }

 #nav-items {
     display:none;
 }

 @media (min-width: 768px) {
    .card {
        height: 70px;
        width: 70px;
        border-radius: 35px;
    }
 }

 @media (min-width: 992px) {
    .card {
        height: 100px;
        width: 100px;
        border-radius: 40px;
    }

    #nav-items {
        display:flex;
    }
 }