body {
    font-family: 'Azeret Mono', monospace;
    color: #fff;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
}

.card {
    height: 100px;
    width: 100px;
    border-radius: 40px;
}

footer {
    margin-top: 2rem;
}

#name {
    text-decoration: none;
    color: #fff;
 } 